@{
    ViewBag.Title = "About";
}
<link href="~/Content/css/HomePage/about.css" rel="stylesheet" />

<section class="page-section" id="about">
    <br />
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Giới thiệu</h2>
            <h3 class="section-subheading text-muted">Sản phẩm nổi bậc của FUNEJOR</h3>
            <br />

        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/img/Anh_Lon/5.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>10000000 VNĐ</h4>
                        <h4 class="subheading">Winter Park | Wrought Iron Door</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">61 x 81 (Đơn 36" Có Đèn Hông 12") Đồng, Đen, Đồng Đen, Đồng cổ, Đồng sáng, Đồng thau, Thiếc</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/img/Anh_Lon/14.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>17300000 VNĐ</h4>
                        <h4 class="subheading">Light 6 Interior - Double Pocket Door | Steel Pocket Doors</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">65 x 108 Đồng, Đen, Đồng Đen, Đồng cổ, Đồng sáng, Đồng thau, Thiếc</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/img/Anh_Lon/6.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>8000000 VNĐ</h4>
                        <h4 class="subheading">Angela Single Dutch | Wrought Iron Door</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">28 x 98 Đồng, Đen, Đồng Đen, Đồng cổ, Đồng sáng, Đồng thau, Thiếc</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/img/Anh_Lon/7.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>40000000 VNĐ</h4>
                        <h4 class="subheading">Light 6 - 5 Panel | Steel Bi-Fold Doors</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">120 x 81 Đồng, Đen, Đồng Đen, Đồng cổ, Đồng sáng, Đồng thau, Thiếc</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        FUNE
                        <br />
                        JOR
                        <br />
                        !
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
