<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
        <div class="image">
            <img src="~/Content/img/icon/user.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <a class="info">
            <h6 class="mb-0 d-block">@Session["TaiKhoanAdmin"]</h6>
            <span class="d-block">Admin</span>
        </a>
    </div>
    <!-- SidebarSearch Form -->
    <!--<div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>-->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/statistical" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Thống Kê Doanh Thu
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>
                @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="~/Content/clients/index.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v1</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Content/clients/index2.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v2</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Content/clients/index3.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v3</p>
                    </a>
                </li>
            </ul>*@
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản Lý Sản Phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/ProductCategory/DSLoaiSP" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Loại Sản Phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/AdminProducts/DanhSachSP" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản Phẩm</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="/Admin/Order/DSDatHang" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đơn Hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Account/DSTaiKhoan" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản Lý Tài Khoản
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/RequestForSupport/DSYeuCau" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Yêu Cầu Hỗ Trợ
                    </p>
                </a>
            </li>
            <!--<li class="nav-item">
    <a href="/admin/posts" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Quảng Cáo-->
            @*<span class="right badge badge-danger">New</span>*@
            <!--</p>
        </a>
    </li>-->
            <li class="nav-item">
                <a href="/Home/Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Home
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/UserAccount/LogOut" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng Xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()}
    </div>}